:root {
  --font-color: #050505;
  --bg-color: #6a625f;
  --nav-color: #659a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  text-transform: uppercase;
}

nav {
  max-width: 100vmax;
  max-height: 15vmax;
  background-color: var(--nav-color);
}

#logo {
  display: inline-block;
  margin: 20px 30px;
  text-align: center;
}

h2 {
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  cursor: pointer;
}

ul {
  list-style: none;
  line-height: 100px;
  margin-right: 40px;
  padding: 0;
  float: right;
}

li {
  display: inline-block;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: var(--font-color);
  padding: 5px;
  font-size: 20px;
}

h2:hover {
  color: #ffffff;
  transition: color 0.4s linear;
}

a:hover {
  color: #fffffff7;
  border-bottom: 4px solid rgb(12, 12, 12);
  transition: all 0.4s linear;
}

@media only screen and (max-width: 824px) {
  nav {
    max-width: 100vw;
    height: 15max;
    text-align: center;
    background-color: var(--nav-color);
  }

  h2 {
    line-height: 30px;
  }
  ul {
    border-top: 5px solid black;
    background-color: rgb(122, 184, 184);
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }
}


@media only screen and (max-width: 600px) {
  nav {
    max-width: 100vw;
    height: 15max;
    text-align: center;
    background-color: var(--nav-color);
  }

  h2 {
    line-height: 30px;
  }
  ul {
    border-top: 5px solid black;
    background-color: rgb(122, 184, 184);
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }
}


@media only screen and (max-width: 580px) {
  nav {
    display: inline-block;
    width: 100vw;
    min-height: 80px;
    text-align: center;
    background-color: var(--nav-color);
  }

  ul {
    border-top: 5px solid black;
    background-color: rgb(122, 184, 184);
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }

  li {
    display: block;
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px auto;
    font-size: 20px;
  }
}
