* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: url(painting-mountain-lake-with-mountain-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
  background-color: transparent;
  height: 50vh;
  width: 25vw;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0 25px;
  backdrop-filter: blur(3px);
  box-shadow: 3px 3px 10px #131313b0, -3px -3px 10px #131313b0;
}

#wrapper h1 {
  text-align: center;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.986);
}

#wrapper .input-box {
  height: 5vh;
  width: 100%;
  position: relative;
}

.input-box input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin: 20px 0 auto;
  padding: 15px 20px;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  font-weight: 300;
  font-size: 16px;
  background: transparent;
}

.input-box input::placeholder {
  color: black;
  font-size: 16px;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 8px;
}

.remember-forget-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
}

.remember-forget-box input {
  cursor: pointer;
}

.remember-forget-box p {
  font-size: 16px;
}

.remember-forget-box a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.remember-forget-box a:hover {
  text-decoration: underline;
}

.login-btn {
  margin: 20px 0;
}

.login-btn button {
  border-radius: 25px;
  height: 5vh;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.register-box {
  margin: 10px 0;
  text-align: center;
}

.register-box p {
  display: inline;
  font-size: 16px;
}

.register-box a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.register-box a:hover {
  text-decoration: underline;
}

