* {
    margin: 0;
    padding: 0;
}

.main {
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 80px;
    border: 3px solid whitesmoke;
    border-radius: 12px;
    position: relative;
}

.box:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(10px, -50%);
    height: 25px;
    width: 10px;
    background-color: transparent;
    border: 3px solid whitesmoke;
}

.box:after {
    content: "";
    position: absolute;
    background-color: #f1efef;
    border-radius: 7px;
    top: 2.5px;
    left: 2px;
    height: 75px;
    width: 100%;
    animation: level 5s linear infinite;
}

@keyframes level {
    0%{
        width: 0%;
        background: red;
    }
    25%{
        width: 25%;
        background: orange;
    }
    50%{
        width: 50%;
        background: yellow;
    }
    75%{
        width: 75%;
        background: #d7fc03;
    }
    100%{
        width: 100%;
        background: green;
    }
}